body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.container-main {
    padding-top: 50px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

input {
    position: relative;
    display: block;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 0;
    color: #222;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    background: transparent;
    border-radius: 0 !important;
    -webkit-tap-highlight-color: transparent;
    border: none;
    -webkit-transition: border-color .2s ease;
    transition: border-color .2s ease;
}

.InputField-field {
    position: relative;
    width: 100%;
    text-align: left;
    height: 58px;
    color: #5c6366;
    background: #f2f4f5;
    border-radius: 4px;
    font-size: 17px;
    line-height: 20px;
    -webkit-transition: background-color .4s ease;
    transition: background-color .4s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: text;
}
